<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/" [routerLink]='["/"]'>QR tickets</a>

  <ng-container *ngIf='currentPerson'>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/users", currentPerson.Id]' href='#' >My tickets</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)='logout()'>Logout</button>
      </li>
    </ul>
  </ng-container>
</nav>